@font-face {
    font-family: "Roboto";
    src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-image: linear-gradient(to right top, #845ec2, #e65faa, #ff8080, #ffbb61, #f9f871);
    font-family: "Roboto", sans-serif;
    color: white;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {

    text-shadow: 2px 3px 0 rgba(150, 150, 150, 1);
}

a {
    color: inherit;
}

a:hover {
    color: #FEFEDF;
}
